<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Restricted Queries </h1> </header>
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Enter the number of queries and :</h2></label><br>
        <form action = "{{ url_for('options2') }}" method = "POST"> 
		<label>Enter number:</label>
         <input type = "text"                 
				 name = "num"
                  />
		<label>Enter Location:</label>
         <input type = "text"                 
				 name = "loc"
                  />
 	  
				  
		  <br>
		  <br>
				 
		  <input type = "submit" value = "submit" /><br>	
		  </form>
	
    </body>
</html>
        